body, html{
    height: 100%;
    width: 100%;
    margin: 0; padding: 0;
    font-family: sans-serif;
    
}

body {
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tekst {
    width: 400px;
    background-color: cyan;
    color: white;
    padding: 1em;
    box-sizing: border-box;
}
.tekst, img {
    height: 400px;
    margin: .5em;
}

.vlak {
    background-color: #fff;
    padding: 1em;
    margin: 1em;
    font-family: sans-serif;
    font-size: 1.3em;
    line-height: 1.4em;
    color: deepskyblue;
    height: 14em;
    flex: 0 0 14em; 
}

.vlak p:last-child {
    font-size: .7em;
    text-align: right;
}

header p {
    text-align: right;
    margin-right: 1em;
}

header h1 {
    color: orange;
    letter-spacing: .1em;
}

section.pv {
    padding: 2em;
    min-width: 15em;
    margin: .5em;
    background-color: #39f;
    color: #eea;
    border-radius: 1em;
    flex: 1 0 20%;
    display: flex;
    flex-direction: column;
}